# Derived from LF-Decentralized-Trust-labs/fabric-x-ansible-collection
# roles/orderer/templates/config-consensus.yaml.j2 (adapted to Go text/template)
# Aligned against upstream commit: e4e1ce2
#
#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

{{ template "party-id" . }}
Consensus:
    WALDir: {{ .RuntimeDir }}/wal
{{ template "general" . }}
{{ template "filestore" . }}
{{ template "operations" . }}
{{ template "metrics" . }}
