# Derived from LF-Decentralized-Trust-labs/fabric-x-ansible-collection
# roles/committer/templates/config-verifier.yaml.j2 (adapted to Go text/template)
# Aligned against upstream commit: e4e1ce2
#
#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

{{ template "server" . }}
parallel-executor:
  batch-size-cutoff: 500
  batch-time-cutoff: 2ms
  channel-buffer-size: 1000
  parallelism: {{ .VerifierParallelism }}
{{ template "monitoring" . }}
{{ template "logging" . }}
