# Derived from LF-Decentralized-Trust-labs/fabric-x-ansible-collection
# roles/committer/templates/config-query-service.yaml.j2 (adapted to Go text/template)
# Aligned against upstream commit: e4e1ce2
#
#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

{{ template "server" . }}

min-batch-keys: 1024
max-batch-wait: 100ms
view-aggregation-window: 100ms
max-aggregated-views: 1024
max-active-views: 4096
max-view-timeout: 10s
max-request-keys: 10000
{{ template "database" . }}
{{ template "monitoring" . }}
{{ template "logging" . }}
